
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
}

.clock{
  width: 100px;/*250*/
  height: 115px;/*150*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 50%;
}

.clock:before{
  content: '';
  position: absolute;
  width: 7px;/*15*/
  height: 7px;
  /*background-color: #ffffff;*/
  background-color: #0c0c0c;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
  position: absolute;
}

.clock .hour, .hr{
  width: 80px;/*160*/
  height: 80px;
  border-radius: 50%;
}
.clock .min, .mn{
  width: 95px;/*190*/
  height: 95px;
  
}
.clock .sec, .sc{
  width: 110px;/*230*/
  height: 110px;
 
}

.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  position: absolute;
 
}

.hr:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;/*80*/
  /*background-color: #ffc600;*/
  background-color: #0c0c0c;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 45px;/*90*/
  /*background-color: #fff;*/
  background-color: #0c0c0c;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before{
  content: '';
  position: absolute;
  width: 2px;
  height: 75px;/*150*/
  /*background-color: #fff;*/
  background-color: #0c0c0c;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}